@use "sass:string";
@use "sass:list";
@use "sass:meta";
@use "sass:map";

// Trims the start/left of the string:
@function str-trimStart($str, $char) {
  @if (str-slice($str, 1, 1) == $char) {
    @return str-trimStart(str-slice($str, 2), $char);
  } @else {
    @return $str;
  }
}

// Trims the end/right of the string:
@function str-trimEnd($str, $char) {
  @if (str-slice($str, str-length($str), -1) == $char) {
    @return str-trimEnd(str-slice($str, 1, -2), $char);
  } @else {
    @return $str;
  }
}

// Trims both the start and end of the string:
@function str-trim($str, $char) {
  @return str-trimStart(str-trimEnd($str, $char), $char);
}

// capitalizes the first letter of the string:
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

// filters map by true or false returned from callback
@function map-filter($map, $condition, $other: null) {
  $new-map: ();
  @each $key, $value in $map {
    @if meta.call($condition, $key, $value, $other) {
      $new-map: map.set($new-map, $key, $value);
    }
  }
  @return $new-map;
}

@function str-split($string, $separator) {
  $split-arr: ();
  $index: str-index($string, $separator);
  @while $index != null {
    $item: str-slice($string, 1, $index - 1);
    $split-arr: append($split-arr, $item);
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $separator);
  }
  $split-arr: append($split-arr, $string);
  @return $split-arr;
}

@function str-join($array, $separator: ",") {
  $result: "";
  @each $item in $array {
    @if $result != "" {
      $result: $result + $separator;
    }
    $result: $result + $item;
  }
  @return $result;
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// camelizes a string
@function str-camelize($string) {
  $separators: ("-", "_", " ");
  @each $separator in $separators {
    $string: str-replace($string, $separator, " ");
  }
  $string: str-split($string, " ");
  $result: "";
  @each $word in $string {
    $result: $result + capitalize($word);
  }
  @return $result;
}

@function str-pascalize($string) {
  @return capitalize(str-camelize($string));
}
