$primary-color: #058dfe;
$secondary-color: #202121;
$secondary-bg-color: #fff;

$white: #fff;
$primary-bg-color: #f4f7f6;
$secondary-bg-color: #e6eaea;
$border-main: #e6eaea;

$error-color: #d14836;

$primary-font: "Apercu Pro", sans-serif, serif;

//todo: modify white color
