@use "~abstracts" as *;

.select {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  .current {
    justify-content: space-between;
    padding: 1.8rem;
    background-color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $border-main;
    .text {
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .icon {
      color: darken($border-main, 15%);
      font-size: 1.8rem;
    }
  }
  .list {
    position: absolute;
    top: 99%;
    z-index: 2;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $border-main;
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;

    .option {
      padding: 1rem;
      transition: all 0.2s ease;
      &:first-letter {
        text-transform: uppercase;
      }
      &:hover {
        background-color: $border-main;
      }
    }
    .selected {
      background-color: $border-main;
    }
  }
}
