@use "~abstracts" as *;


.container {
  margin: 2rem auto;
  margin-bottom: 3rem;
  padding: 0 1rem;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  @include tablet {
    margin: 4rem auto;
  }
  .header {
    text-align: center;
    font-weight: 800;
    font-size: 3.8rem;
  }
  .subHeader{
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .main{
      background-color: $white;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include tablet {
        padding: 3rem;
      }
      @include desktop{
        padding: 3rem 4rem;
      }
    }
    .required{
      color: lighten($primary-color, 10%);
    }
    .field {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .add {
        padding: 1rem;
        border: none;
        text-align: center;
        background-color: $border-main;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: capitalize;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: darken($border-main, 10%);
        }
      }

      label {
        font-weight: bold;
        font-size: 1.4rem;
        &:first-letter {
          text-transform: uppercase;
        }
      }

      &__input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        padding: 1.8rem;
        border: 1px solid darken($border-main, 10%);
        transition: all .2s ease;
        &:focus {
          outline: none;
        }

        &__focused {
          border-color: darken($border-main, 30%);
        }

        &__remaining {
          opacity: 0.5;
          font-size: 1.2rem;
          overflow: hidden;
          color: darken($border-main, 25%);
          &__warning {
            color: $error-color;
          }
        }

        &__error {
          font-size: 1.4rem;
          flex-basis: 100%;
        }

        &__group {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        &__item {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          gap: 1rem;

          &__main {
            grid-column: 1 / -1;
            display: flex;
            background-color: $white;
            align-items: center;
            padding: 0 1rem;
            border: 1px solid $border-main;

            &__focused {
              border-color: $primary-color;
            }
          }

          input {
            flex: 1;
            border: none;
            padding: 1rem;

            &:focus {
              outline: none;
            }
          }

          .remove {
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              color: $error-color;
            }
          }

          &__error {
            color: $error-color;
            grid-column: 1 / -1;
          }
        }
      }

      &__error {
        color: $error-color;
      }
    }
  }
  .publish {
    padding: 1rem;
    border: none;
    text-align: center;
    background-color: $border-main;
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: capitalize;
    transition: all 0.2s ease;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
  .controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
    }

    &__cancel,
    &__submit {
      flex: 1;
      padding: 1.5rem 1rem;
      border: none;
      text-align: center;
      cursor: pointer;
      background-color: $border-main;
      transition: all 0.2s ease;
      text-transform: uppercase;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
    &__submit {
      background-color: lighten($primary-color, 5%);
      color: $white;
      &:hover{
        background-color: darken($primary-color, 5%);
      }
    }
    &__cancel {
      &:hover {
        background-color: darken($error-color, 10%);
      }
    }
  }
}
