@use "~abstracts" as *;

.projects {
  margin: 4rem 0;
  display: grid;
  gap: 2rem;
  @include tablet {
    padding: 0 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    margin-top: 6rem;
    gap: 3rem;
    padding: 0 8%;
    grid-template-columns: repeat(3, 1fr);
  }
  .load {
    grid-column: 1 /-1;
    background-color: $white;
    padding: 1.2rem 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    color: rgba($secondary-color, 0.5);
    transition: all 0.2s ease;
    font-weight: 500;
    width: 90%;
    justify-self: center;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 20%;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}
