@use "~abstracts" as *;

.nav {
  display: flex;
  height: 7rem;
  align-items: center;
  border-bottom: 1px solid $border-main;
  position: relative;
  .menu {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    padding: 0 2.5rem;
    border-right: 1px solid $border-main;
    cursor: pointer;
    @include tablet {
      padding: 0 2rem;
    }
    .icon {
      font-size: 1.8rem;
    }

    .text {
      display: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      @include tablet {
        display: inline-block;
      }
    }
  }

  .main {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    flex: 1;
    @include tablet {
      justify-content: space-between;
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      text-transform: uppercase;
      img {
        width: 10rem;
        @include tablet {
          width: 12rem;
        }
        @include desktop {
          width: 14rem;
        }
      }
    }
    .search {
      cursor: pointer;
      padding: 0 2rem;
      @include desktop {
        padding: 0 3rem;
      }
    }
    .auth {
      display: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-right: 3rem;
      font-weight: bold;
      @include tablet {
        display: inline-block;
        margin-left: auto;
      }
    }

    .create {
      display: none;
      padding: 2rem 3rem;
      background-color: $primary-color;
      height: 100%;
      align-items: center;
      text-transform: uppercase;
      color: white;
      font-size: 1.3rem;
      transition: all 0.2s ease;
      &:hover {
        background-color: $primary-color-hover;
      }
      @include tablet {
        display: flex;
      }
    }
  }
}
