@use "~abstracts" as *;

.job {
  margin: 4rem auto;
  background-color: $white;
  width: 90%;
  @include tablet {
    width: 90%;
    margin: 4rem auto;
  }
  @include desktop {
    width: 70%;
    margin: 4rem auto;
  }
  @include extra-lg-desktop {
    width: 55%;
    margin: 6rem auto;
  }
  .image {
    width: 100%;
    background-color: $border-main;
    height: 32.4rem;
    img {
      @include size(100%);
      object-fit: cover;
    }
  }
  .main {
    padding: 2rem;
    @include tablet {
      padding: 3rem;
    }
    @include desktop {
      padding: 3rem 4rem;
    }
  }
  .intro {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
    .position {
      font-weight: bold;
      font-size: 2rem;
    }

    .type {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      span {
        border-radius: 0.2rem;
        padding: 0.4rem 0.5rem;
        background-color: $secondary-color;
        color: $white;
        font-size: 1.2rem;
        text-transform: uppercase;
      }

      .remote {
        background-color: $primary-color;
      }
    }
  }

  .header {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    .company {
      display: flex;
      gap: 1rem;
      align-items: center;
      .avatar {
        border-radius: 50%;
        @include size(3rem);
        display: inline-block;
      }
      .name {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.4rem;
      }
      .site {
        color: $primary-color;
        transition: all 0.2s ease;
        text-transform: uppercase;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .more {
      border: 1px solid $border-main;
      border-left: none;
      border-right: none;
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .location {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .apply {
        background-color: $primary-color;
        padding: 1rem 0;
        width: 30%;
        text-align: center;
        display: inline-block;
        color: $white;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: $primary-color-hover;
        }

        @include tablet {
          width: 30%;
        }
      }
    }
  }
  .description {
    font-weight: 300;
    font-size: 1.5rem;
    ul {
      list-style: square;
      list-style-position: inside;
    }

    & > * {
      margin-bottom: 2rem;
    }
  }
}
