@use "~abstracts" as *;

.jobs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem auto;
  padding: 0 2rem;
  @include tablet {
    padding: 0;
    width: 90%;
    margin: 4rem auto;
    gap: 3rem;
  }
  @include desktop {
    width: 85%;
    margin: 6rem auto;
  }
  .list {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-auto-rows: 45rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include extra-lg-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .load {
    padding: 1rem;
    text-align: center;
    background-color: $white;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgba($secondary-color, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
    @include desktop {
      width: 50%;
      margin: 0 auto;
    }
  }
}
