@use "~abstracts" as *;

.auth {
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  background-color: $white;
  @include tablet {
    margin: 8rem auto;
    width: 70%;
  }
  @include desktop {
    margin: 6rem auto;
    width: 40%;
    gap: 3rem;
    padding: 3rem;
  }
  .intro {
    font-size: 1.3rem;
    opacity: 0.8;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem;

    .field {
      &__container {
        position: relative;
        border: 1px solid darken($border-main, 10%);
        transition: all 0.2s ease;

        label {
          background-color: inherit;
          position: absolute;
          //   center the label
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
          text-transform: capitalize;
          opacity: 0.5;
          transition: all 0.2s ease;
          cursor: text;
          user-select: none;
        }

        input {
          background-color: transparent;
          border-radius: inherit;
          width: 100%;
          display: inline-block;
          padding: 1.5rem 1rem;
          border: none;

          &:focus {
            outline: none;
          }
          &::placeholder {
            text-transform: capitalize;
            opacity: 0.8;
          }
        }

        &Focused {
          border-color: $primary-color;

          label {
            opacity: 1;
            color: $primary-color;
            top: -0.1rem;
            left: 1rem;
            font-size: 1.4rem;
          }
        }
        &Error {
          border-color: $error-color;

          label {
            color: $error-color;
          }
        }
        &Filled {
          label {
            top: -0.1rem;
            left: 1rem;
            opacity: 1;
            font-size: 1.4rem;
          }
        }
      }
      .other {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        a {
          margin-left: auto;
          font-size: 1.3rem;
          color: $primary-color;
          text-transform: capitalize;
          transition: all 0.2s ease;
          &:hover {
            color: $primary-color-hover;
          }
        }
      }
    }

    .submit {
      padding: 1.8rem 1rem;
      border: none;
      background-color: $primary-color;
      color: $white;
      text-transform: capitalize;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: $primary-color-hover;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.4rem;
      gap: 1rem;

      a {
        cursor: pointer;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}
