@use "~abstracts" as *;

.links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .link {
    background-color: $border-main;
    position: relative;
    width: 10rem;
    height: 4rem;

    &:last-of-type {
      border-radius: 0 0.5rem 0.5rem 0;
    }
    &:first-of-type {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .label {
      position: absolute;
      top: 50%;
      font-weight: bold;
      font-size: 1.4rem;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .active {
      $size: 90%;
      $pos: (100% - $size) / 2;
      position: absolute;
      top: $pos;
      left: $pos;
      @include size(90%);
      display: inline-block;
      background-color: $white;
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
      z-index: 1;
      border-radius: 0.5rem;
    }
  }
}
